<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.button.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.mouse.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.resizable.min.js" %>
<script type="text/javascript">
$(document).ready(function() {
  	$("#doctor_picker").change(function() {
			$.post("<%= update_contact_messages_path %>", { id: $("#doctor").val()} );
			$("#message_user").val($("#doctor").val());
			$("#doctor_name").html($("#doctor option:selected").text());
	 });
	$("#doctor_picker input:submit").remove();
	$("input:submit").button().css("font-size","0.9em");
}); 
</script>
<% end %>
<h2><%= t("txt.contact") %></h2>
<div id="subcontent" class="span-18 colborder">
	<h3><%= t("messages.message_for")%> <span id="doctor_name"><%= @doctor.name %></span></h3>
	<%= form_for @message do |f| %>
		<%= render 'shared/error_messages', :object => f.object, :modelname =>  Message.model_name.human.downcase %>
	    <%= f.hidden_field :user, :value => @doctor.id %>
		<div class="field">
	    	<%= f.label :name %><br />
	    	<%= f.text_field :name, :class => "ui-widget-content ui-corner-all" , :size => 40 %>
	  	</div>
		<div class="field">
	    	<%= f.label :email %><br />
	    	<%= f.text_field :email, :class => "ui-widget-content ui-corner-all", :size => 40 %>
	  	</div>
		<div class="field">
	    	<%= f.label :subject %><br />
	    	<%= f.text_field :subject, :class => "ui-widget-content ui-corner-all", :size => 40 %>
	  	</div>
		<div class="field">
	    	<%= f.label :body %><br />
	    	<%= f.text_area :body , :class => "resizable ui-widget-content ui-corner-all", :size => "80x30" %>
	  	</div>
	
	    <div class="actions">
			<%= f.submit t("messages.send_message") %>
		</div>
	<% end -%>
	
</div>
<div id="submenu" class="span-5 last">
	<div id="doctor_picker">
		<%= form_tag(new_message_path, :method => :get) do %>
			<%= select_tag :doctor, options_from_collection_for_select( @doctors , "id", "name", @doctor.id) %>
			<%= submit_tag t("messages.refresh") %>
		<% end %>
	</div>
	<div id="contact_info">
		<%= render "contact_info"%>
	</div>
</div>