<%= render "shared/user_profile_header" %>
<div id="subcontent" class="span-19 colborder">
	<p>
	  <b><%= t("messages.from") %>: </b>
		<% if @message.patient %>
	  		<%= link_to @message.name, user_path(@message.patient) %>
		<% else %>
	  		<%= mail_to @message.email, @message.name %>
		<% end %>
	</p>
	<p>
	  <b><%= Message.human_attribute_name("subject") %>: </b>
	  <%= @message.subject.nil? ? t("messages.none") : @message.subject %>
	</p>
	<p>
	  <b><%= Message.human_attribute_name("body") %>:</b><br />
	  <%= @message.body %>
	</p>
	<p>
		<%= link_to t("txt.back"), messages_user_path(@user), :class => "fancy-button" %>  
		<%= link_to t("users.destroy"), @message, 
	        :confirm => t("users.confirmation"), :method => :delete, :class => "fancy-button" %>
	</p>
</div>

<%= render "shared/user_profile_menu", :active => "messages" %>