<h2><%= t("password_resets.title")%></h2>
<p>
	<%= t('password_resets.new_password_instructions')%>
</p>
<%= form_for(@user, :url => password_reset_path(signed_in? ? @user.id : @user.perishable_token), :method => "update") do |f| %>
  <%= render 'shared/error_messages', :object => f.object, :modelname =>  User.model_name.human.downcase %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit t("password_resets.submit") %>
  </div>
<% end %>
