<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.button.min.js" %>
<script type="text/javascript">
$(document).ready(function() {
  $("input:submit").button().css("font-size","0.9em");
});
</script>
<% end %>
<h2><%= t("password_resets.reset_pass")%></h2>
<p>
	<%= t('password_resets.instructions')%>
</p>
<%= form_for(:password_resets, :url => password_resets_path) do |f| %>
<div class="field">
  	<%= f.label :email %><br />
	<%= f.text_field :email %>
</div>
<div class="actions">
  <%= f.submit t("password_resets.send_email") %>
</div>
<% end %>