<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.button.min.js" %>
<script type="text/javascript">
$(document).ready(function() {
  $("input:submit").button().css("font-size","0.9em");
});
</script>
<% end %>
<h2><%= t("email_confirmations.title")%></h2>
<p>
	<%= t('email_confirmations.instructions')%>
</p>
<%= form_for(@user, :url => email_confirmation_path, :method => "update") do |f| %>
  <%= render 'shared/error_messages', :object => f.object, :modelname =>  User.model_name.human.downcase %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :value => (@user.errors.any? ? @user.email: "")  %>
  </div>
  <div class="field">
    <%= f.label :email_confirmation %><br />
    <%= f.text_field :email_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit t('email_confirmations.submit') %>
    <%= submit_tag t("users.submit.cancel") if signed_in? %>
  </div>
<% end %>