<h2><%= t("email_confirmations.title_request")%></h2>
<p>
	<%= t('email_confirmations.instruction_request')%>
</p>
<%= form_for(:user, :url => email_confirmations_path, :method => "create") do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit t('email_confirmations.request_submit') %>
  </div>
<% end %>