<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t("password_reset_instructions.title") %></h1>
    <p>
      	<%= t("password_reset_instructions.request") %>
    </p>
    <p>
      <%= t("password_reset_instructions.link")%> <%= link_to @url, @url %>.
    </p>
    <p>
    	<%= t("password_reset_instructions.problems")%>
    </p>
  </body>
</html>