<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.mouse.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.button.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.draggable.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.position.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.resizable.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.dialog.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.accordion.min.js" %>
<script type="text/javascript">
$(document).ready(function() {
  $("#available_bookings").accordion();
  $( "a.book" ).button();
});
</script>
<% end %>
<div id='dialog'></div>
  <h2><%= t("bookings.title") %></h2>
  <div id="available_form">
    <%= render "form" %>
  </div>
<div id ="booking_results">
  <%= render "results" %>
</div>