<%= hidden_field_tag 'form', 'contact' %>
<div class="field">
  <%= f.label :address %><br />
  <%= f.text_field :address, :class => "ui-widget-content ui-corner-all" %>
</div>
<div class="field">
  <%= f.label :postcode %><br />
  <%= f.text_field :postcode, :class => "ui-widget-content ui-corner-all" %>
</div>
<div class="field">
  <%= f.label :town %><br />
  <%= f.text_field :town, :class => "ui-widget-content ui-corner-all" %>
</div>
<div class="field">
  <%= f.label :phone %><br />
  <%= f.text_field :phone, :class => "ui-widget-content ui-corner-all" %>
</div>
<div class="field">
  <%= f.label :mobile %><br />
  <%= f.text_field :mobile, :class => "ui-widget-content ui-corner-all" %>
</div>