<table class="users list">
  <thead>
    <tr>
      <th class="check"><%= check_box_tag 'delete_all' %></th>
      <th><%= raw "<span class='button icon-blank ui-icon-carat-1-n'></span>" if cookies[:sort] == "last_name ASC" %>
	<%= raw "<span class='button icon-blank ui-icon-carat-1-s'></span>" if cookies[:sort] == "last_name DESC" %>
<% last_name_sort = cookies[:sort] == "last_name ASC" ? "last_name DESC" : "last_name ASC"%>
<%= link_to User.human_attribute_name("last_name"), users_path(:sort => last_name_sort), :class => "black" %></th>
      <th><%= raw "<span class='button icon-blank ui-icon-carat-1-n'></span>" if cookies[:sort] == "first_name ASC" %>
	<%= raw "<span class='button icon-blank ui-icon-carat-1-s'></span>" if cookies[:sort] == "first_name DESC" %>
<% first_name_sort = cookies[:sort] == "first_name ASC" ? "first_name DESC" : "first_name ASC"%>
	<%= link_to User.human_attribute_name("first_name"), users_path(:sort => first_name_sort), :class => "black" %></th>
      <th><%= raw "<span class='button icon-blank ui-icon-carat-1-n'></span>" if cookies[:sort] == "email ASC" %>
	<%= raw "<span class='button icon-blank ui-icon-carat-1-s'></span>" if cookies[:sort] == "email DESC" %>
<% email_sort = cookies[:sort] == "email ASC" ? "email DESC" : "email ASC"%>
	<%= link_to User.human_attribute_name("email"), users_path(:sort => email_sort), :class => "black" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="select">
        <td class="check"><%= link_to "", user, :class => "hidden" %><%= check_box_tag 'user_delete_' + user.id.to_s, user.id %></td>
        <td class="clickable"><%= user.last_name %></td>
        <td class="clickable"><%= user.first_name %></td>
        <td class="clickable"><%= user.email %></td>
        <td class="icon"><%= link_to "", edit_user_path(user), 
        :class => "button ui-icon-wrench", :title => t("users.edit") %></td>
      <td class="icon"><%= link_to "", user, 
        :confirm => t("users.confirmation"), :method => :delete, :remote => true,
        :class => "button ui-icon-trash", :title => t("users.destroy") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, :previous_label => t("users.previous"), :next_label => t("users.next"), :params => {:controller => "users", :action => "refresh"} %>
