  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="clickable"><%= link_to "", user, :class => "hidden" %><%= user.first_name %></td>
        <td class="clickable"><%= user.last_name %></td>
        <td class="clickable"><%= user.email %></td>
        <td class="icon"><%= link_to "", edit_user_path(user), 
        :class => "button ui-icon-wrench", :title => t("users.edit") %></td>
      <td class="icon"><%= link_to "", user, 
        :confirm => t("users.confirmation"), :method => :delete, 
        :class => "button ui-icon-trash", :title => t("users.destroy") %></td>
      </tr>
    <% end %>
  </tbody>
