<%= render "shared/user_profile_header" %>
<% content_for :scripts do %>
<script type="text/javascript">
function initialize() {
  $("button").click(function(){
	 $.post("<%= update_admin_user_path(@user) %>", { clicked: $(this).attr("id")} );
  });
  $( "#confirmed, #active, .role" ).buttonset().css("font-size","0.9em");
  $("#confirmed input, #active input, .role input").click(function(){
	$.post("<%= update_admin_user_path(@user) %>", { clicked: $(this).parent().attr("id"), set: $(this).hasClass("yes") } );
  });
}
</script>
<% end %>
<div id="subcontent" class="span-19 colborder">
	<div id="admin">
		<%= render "admin" %>
	</div>
	<p>
		<button id="send_confirmation"><%= t("users.send_confirm") %></button>
		<button id="send_reset"><%=  t("users.send_reset") %></button>
	</p>
</div>

<%= render "shared/user_profile_menu", :active => "admin" %>