<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.button.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.mouse.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.resizable.min.js" %>
<script type="text/javascript">
$(document).ready(function() {
  	$("#doctor_picker").change(function() {
			$.post("<%= contact_update_users_path %>", { id: $("#doctor").val()} );
			$("#id").val($("#doctor").val());
			$("#doctor_name").html($("#doctor option:selected").text());
	 });
	$("#doctor_picker input:submit").remove();
	$("input:submit").button().css("font-size","0.9em");
}); 
</script>
<% end %>
<h2><%= t("txt.contact") %></h2>
<div id="subcontent" class="span-18 colborder">
	<h3><%= t("txt.message_for")%> <span id="doctor_name"><%= @doctor.name %></span></h3>
	<%= form_tag(send_message_users_path) do -%>
	    <%= hidden_field_tag "id" , @doctor.id %>
		<div class="field">
	    	<%= label_tag t("txt.name") %><br />
	    	<%= text_field_tag "name", (current_user.name unless !signed_in?) ,:class => "ui-widget-content ui-corner-all" , :size => 40 %>
	  	</div>
		<div class="field">
	    	<%= label_tag t("txt.email") %><br />
	    	<%= text_field_tag "email", (current_user.email unless !signed_in?) , :class => "ui-widget-content ui-corner-all", :size => 40 %>
	  	</div>
		<div class="field">
	    	<%= label_tag t("txt.subject") %><br />
	    	<%= text_field_tag "subject", nil, :class => "ui-widget-content ui-corner-all", :size => 40 %>
	  	</div>
		<div class="field">
	    	<%= label_tag t("txt.message") %><br />
	    	<%= text_area_tag "message", nil, :class => "resizable ui-widget-content ui-corner-all", :size => "80x30" %>
	  	</div>
	
	    <div class="actions">
			<%= submit_tag t("txt.send_message") %>
		</div>
	<% end -%>
	
</div>
<div id="submenu" class="span-5 last">
	<div id="doctor_picker">
		<%= form_tag(contact_users_path, :method => :get) do %>
			<%= select_tag :doctor, options_from_collection_for_select( @doctors , "id", "name", @doctor.id) %>
			<%= submit_tag t("txt.refresh") %>
		<% end %>
	</div>
	<div id="contact_info">
		<%= render "contact_info"%>
	</div>
</div>