<%= render "shared/user_profile_header" %>
<div id="subcontent" class="span-19 colborder">
	<h3><%= t("users.contact_info") %></h3>
	<p>
	  <b><%= User.human_attribute_name("address") %>:</b>
	  <%= @user.address unless @user.address.nil? %>
	</p>

	<p>
	  <b><%= User.human_attribute_name("postcode") %>:</b>
	  <%= @user.postcode unless @user.postcode.nil? %>
	</p>

	<p>
	  <b><%= User.human_attribute_name("town") %>:</b>
	  <%= @user.town unless @user.town.nil? %>
	</p>
	<p>
	  <b><%= User.human_attribute_name("phone") %>:</b>
	  <%= @user.phone unless @user.phone.nil? %>
	</p>
	<p>
	  <b><%= User.human_attribute_name("mobile") %>:</b>
	  <%= @user.mobile unless @user.mobile.nil? %>
	</p>
	<%= link_to t("users.edittitle"), edit_contact_info_user_path(@user), :class => "fancy-button" %>
</div>

<%= render "shared/user_profile_menu", :active => "contact_info" %>