<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.button.min.js" %>
<script type="text/javascript">
$(document).ready(function() {
  $("input:submit").button().css("font-size","0.9em");
});
</script>
<% end %>
<h2><%= t("users.profile_of") + " " + @user.name %></h2>
<div id="subcontent" class="span-19 colborder">
<h3><%= t("users.edittitle") %></h3>
	<%= form_for(@user) do |f| %>
	  <%= render 'shared/error_messages', :object => f.object, :modelname =>  User.model_name.human.downcase %>
	  <%= render 'contact_info_form', :f => f %>
	  <div class="actions">
	    <%= f.submit @submit_text %>
	    <%= submit_tag t("users.submit.cancel") %>
	  </div>
	<% end %>
</div>

<%= render "shared/user_profile_menu", :active => "contact_info" %>