<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.button.min.js" %>
<script type="text/javascript">
$(document).ready(function() {
  $("#toolbar a").button();
  $("#toolbar button").button().click(function() {
    if (($("tbody input:checked").length > 0) && (confirm("<%= escape_javascript(t('users.sel_confirmation')) %>"))){    
      var test = "";
      $("tbody input:checked").each(function() {
        test += $(this).val() + ";"; 
      });
      $.post("/users/delete_selected", {delete: test});
    }
  });

  $("#delete_all").change(function() {
     if($("#delete_all").attr("checked")){
       $("input").attr("checked","checked");
     } else {
       $("input").removeAttr("checked");
     }
  });

  initialize();
});
function initialize(){
  $("tbody tr td.clickable").click(function() {
    location.href = $(this).parent().children("td:first").children("a").attr("href");
  });
  $('.list tbody tr').hover(function() {
    $(this).addClass('zebraHover');
  }, function() {
    $(this).removeClass('zebraHover');
  });
  $(".list tbody tr:even").addClass('zebra');
}
</script>
<% end %>
<div id="toolbar" class="ui-widget-header ui-corner-all">
   <%= link_to t("users.new"), new_user_path %>
   <button><%= t("users.destroy") %></button>
</div>
<div id="users_table">
  <%= render "table" %>
</div>

