<%= render "shared/user_profile_header" %>
<div id="subcontent" class="span-19 colborder">
	<h3><%= t("users.gen_info") %></h3>
	<p>
	  <b><%= User.human_attribute_name("first_name") %>:</b>
	  <%= @user.first_name %>
	</p>

	<p>
	  <b><%= User.human_attribute_name("last_name") %>:</b>
	  <%= @user.last_name %>
	</p>

	<p>
	  <b><%= User.human_attribute_name("email") %>:</b>
	  <%= @user.email %>
	</p>
	<p>

	</p>
	<% if !role?("admin") && !role?("doctor") %>	
		<%= link_to t("email_confirmations.change_email"), edit_email_confirmation_path(@user), :class => "fancy-button" %> 
		<%= link_to t("password_resets.title"), edit_password_reset_path(@user) , :class => "fancy-button"%> 
	<% end %>
	<%= link_to t("users.edittitle"), edit_user_path(@user), :class => "fancy-button" %>
</div>

<%= render "shared/user_profile_menu", :active => "general" %>