<h2><%= t("users.profile_of") + " " + @user.name %></h2>
<div id="subcontent" class="span-19 colborder">
	<h3><%= t("users.gen_info") %></h3>
	<p>
	  <b><%= User.human_attribute_name("first_name") %>:</b>
	  <%= @user.first_name %>
	</p>

	<p>
	  <b><%= User.human_attribute_name("last_name") %>:</b>
	  <%= @user.last_name %>
	</p>

	<p>
	  <b><%= User.human_attribute_name("email") %>:</b>
	  <%= @user.email %>
	  <% if !role?("admin") && !role?("doctor") %>	
		(<%= link_to "change email", edit_email_confirmation_path(@user)%>)
	  <% end %>
	</p>
	<p>

	</p>

	<%= link_to t("users.edit"), edit_user_path(@user) %>
</div>
<div id="submenu" class="span-4 last">
  <%= render "shared/user_profile_menu", :active => "general" %>
</div>
