<div id="menu">
<ul>
  <% if role?("doctor") %>
  <li class="<%= "active" if (controller.controller_name == "appointments") -%>">
    <%= link_to t("appointments.menutitle"), appointments_path %></li>
  <% end %>
  <% if role?("admin") %>
  <li class="<%= "active" if (controller.controller_name == "users") -%>">
    <%= link_to t("users.menutitle"), users_path %></li>
  <li class="<%= "active" if (controller.controller_name == "pages") || 
                              (controller.controller_name == "images") -%>">
    <%= link_to t("pages.menutitle"), pages_path %></li>
  <li class="<%= "active" if (controller.controller_name == "users") -%>">
  <% end %>
</ul>
</div>
