<div id="footer">
  <p class="right"><% available_locales.each do |locale| %>
    <% if locale == I18n.locale.to_s %>
      <span class="red"><%= locale %></span>
    <% else %>
      <a href="<%= 'http://' + locale +'.'+ domain+request.path %>" class="grey"><%= locale %></a>
    <% end %>
      <% if locale != available_locales[available_locales.length-1] %>
         · 
      <% end %>
   <% end %></p>
  <p class="quiet">Copyright &copy; 2010 <a href="mailto:webmaster@app.local" class="quiet underline">Webmaster</a> | 
	<%= link_to t("txt.contact"), contact_users_path , :class => "quiet underline" %> | <a href="#" class="quiet underline"><%= t("txt.route") %></a></p>
</div>

