<div id="footer">
  <p class="right"><% available_locales.each do |locale| %>
    <% if locale == I18n.locale.to_s %>
      <span class="red"><%= locale %></span>
    <% else %>
      <%= link_to locale.to_s, {:controller => controller_name, :action => action_name, :locale => locale.to_sym},  :class => "grey" %>
    <% end %>
      <% if locale != available_locales[available_locales.length-1] %>
         · 
      <% end %>
   <% end %></p>
  <p class="quiet">Copyright &copy; 2010 <%= mail_to "webmaster@app.local", "Webmaster", :class=> "quiet underline" %> | 
	<%= link_to t("messages.contact"), new_message_path , :class => "quiet underline" %> | <a href="#" class="quiet underline"><%= t("txt.route") %></a></p>
</div>

