<div id="header">
<% if role?("admin") || role?("doctor") %>
  <%= render :partial => "shared/admin_menu" %>
<% else %>
  <%= render :partial => "shared/menu" %>
<% end %>
<p><a id="title" href="http://<%= I18n.locale.to_s + '.' + domain  %>"><span class="red"><%= t("txt.private") %></span><%= t("txt.practice") %></a></p>
</div>
