<div id="login_box">
  <%= form_for(:session, :url => sessions_path) do |f| %>
    <div>
      <%= f.text_field :email, :value => t("txt.email"), :class => "clear", :size => "30" %>
    </div>
    <div>
      <%= text_field_tag "password", t("txt.password"), :id => "hide_pass", :size => "30" %>
      <%= f.password_field "password", :id => "show_pass", :style => "display:none", :size => "30" %>
    </div>
    <div>
      <%= f.submit t("txt.login") %>
      <%= f.check_box :remember %>
      <%= f.label :remember, t("txt.remember"), :class => "small" %>
      <a href="#" alt="Forgot login"><span class="small"><%= t("txt.forgot") %></span></a>
    </div>
  <% end %>
</div> 
