<p><a class="ui-button ui-icon-document" title="<%= t("pages.clear") %>"</a>
<a class="ui-button ui-icon-closethick" title="<%= t("pages.close") %>"></a></p><br />
<%= form_for(@page, :remote => true) do |f| %>
  <%= render 'shared/error_messages', :object => f.object, :modelname =>  Page.model_name.human.downcase %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %> <br />
    <a href="[url]" class="markdown">[url]</a>
    (<%= link_to "Markdown Basics", "Markdown_basics.html", :class => "lightbox frame small" %> ·  
    <%= link_to "Markdown Syntax", "Markdown_syntax.html", :class => "lightbox frame small" %>)<br />
    <%= f.text_area :body, :class => "resizable", :cols => 80, :rows => 20 %>
      </div>
  <div class="field">
    <%= f.label :nested %><br />
    <%= f.check_box :nested %>
  </div>
  <div class="field">
    <%= f.label :html %><br />
    <%= f.check_box :html %>
  </div>
  <div class="actions">
    <%= f.submit @submit_text %>
  </div>
<% end %>
