<p><a class="ui-button ui-icon-document" title="<%= t("pages.clear") %>"</a>
<a class="ui-button ui-icon-closethick" title="<%= t("pages.close") %>"></a></p><br />
<%= form_for(@page, :remote => true) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 100, :rows => 20 %>
  </div>
  <div class="field">
    <%= f.label :nested %><br />
    <%= f.check_box :nested %>
  </div>
  <div class="actions">
    <%= f.submit @submit_text %>
  </div>
<% end %>
