<table>
  <% for page in @pages %>
    <tr <%= raw "class=\".nested\"" unless !page.nested %>>
      <td><%= link_to page.title, page_path(page) %><td>
      <td><%= page.locale %></td>
      <td><%= page.sequence %></td>
      <td><span class="ui-icon ui-icon-arrowthick-1-e  ui-button ui-button-icon-only"></span></td> 
      <td><span class="ui-icon ui-icon-arrowthick-1-n ui-button ui-button-icon-only"></span></td> 
      <td><span class="ui-icon ui-icon-arrowthick-1-s ui-button ui-button-icon-only"></span></td> 
      <td><%= link_to "", edit_page_path(page), :remote => true, :class => "ui-icon ui-icon-wrench ui-button ui-button-icon-only", :title => t("pages.edit") %></td>
      <td><%= link_to "", page, :remote => true, :confirm => t("pages.confirmation"), :method => :delete, :class => "ui-icon ui-icon-trash ui-button ui-button-icon-only", :title => t("pages.delete") %></td>
    </tr>
  <% end %>
</table>
