<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.mouse.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.resizable.min.js" %>
<script type="text/javascript">
$(document).ready(function() {
  $("#new_locale").removeAttr("disabled");
  $("#new_locale").val("<%= escape_javascript(I18n.locale.to_s) %>");
  $("#locale_picker").change(function() {
      $("#locale_picker form :submit").submit();
  });
  lightbox();
  linkbox();
  zebra();
}); 
</script>
<% end %>
<div id="subcontent">
  <h2><%= t("pages.title") %></h2>
  <div id="locale_picker"><p>
  <%= form_tag(changelocale_pages_path, :method => :put, :remote => true) do %>
    <%= PageContent.human_attribute_name("locale") %>: 
    <%= select_tag("new_locale", options_for_select(available_locales, I18n.locale)) %>
    <%= submit_tag "", :class => "hidden" %>
  <% end %></p></div>
  <div id="new_page"><p><%= link_to "", new_page_path, :remote => true, 
    :class => "ui-button ui-icon-document", :title => t("pages.new")  %></p></div><br />
  <div id="page_list" class="list"><%= render :partial => "list" %></div>
</div>
<div id="submenu">
  <ul>
    <li class="bold"><%= link_to t("pages.title"), pages_path %></li>
    <li><%= link_to t("images.title"), images_path %></li>
  <ul>
</div>
