<h2><%= t("pages.new") %></h2>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= @page.errors.count %>
          <%= if @page.errors.count == 1 
                t("activerecord.errors.template.header.one") + Page.human_name.downcase + t("activerecord.errors.template.header.second")
              else
                t("activerecord.errors.template.header.other") + Page.human_name.downcase + t("activerecord.errors.template.header.second")
              end %> </h2>
      <p><%= t("activerecord.errors.template.body") %></p>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@page) do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </div>
    <div class="field">
      <%= f.label :locale %><br />
      <%= f.select(:locale, options_for_select(available_locales)) %>
    </div>
    <div class="actions">
      <%= f.submit t("pages.create") %>
    </div>
  <% end %>
