<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.button.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.mouse.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.resizable.min.js" %>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&amp;key=ABQIAAAAcsO1U-clFVv7lyvkzf6CvhT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTTj_ljfqBTvPc4qXl0RiDfVoQIKA" %>
<script type="text/javascript">
var geocoder;
var map;

$(document).ready(function() {
  	$("#doctor_picker").change(function() {
	  	$.getJSON('/nl/route.json', {id: $("#doctor").val() }, function(json) {
		    codeAddress(json.address + ", "+ json.postcode + " " + json.town);
			$("#address").html(json.address + "<br />"+ json.postcode + " " + json.town);
		});
	});
	$("#doctor_picker input:submit").remove();
	$("input:submit").button().css("font-size","0.9em");
	maps();
	codeAddress("<%= @doctor.address + ", " + @doctor.postcode + " " + @doctor.town %>");
}); 

function codeAddress(address) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

function maps() {
    var myOptions = {
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
  }
</script>
<% end %>
<h2><%= t("txt.route") %></h2>
<div id="subcontent" class="span-18 colborder">
  <div id="map_canvas" style="width:100%; height:600px"></div>
</div>
<div id="submenu" class="span-5 last">
	<div id="doctor_picker">
		<%= form_tag(new_message_path, :method => :get) do %>
			<%= select_tag :doctor, options_from_collection_for_select( @doctors , "id", "name", @doctor.id) %>
			<%= submit_tag t("messages.refresh") %>
		<% end %>
	</div>
	<div id="contact_info">
		<p>
		  <b><%= User.human_attribute_name("address") %>:</b><br />
		  	<span id="address"><%= @doctor.address unless @doctor.address.nil? %><br />
			<%= @doctor.postcode unless @doctor.postcode.nil? %>
			<%= @doctor.town unless @doctor.town.nil? %></span>
		</p></div>
</div>