<% if @page_content.errors.any? -%>
  flash_hide();
  $("#new_page").html("<%= escape_javascript(render(:partial => "form")) %>");
  $('#new_page a').click(function() {
    $("#new_page").html("<p><%= escape_javascript(
      link_to "", new_page_path, :remote => true, 
      :class => "ui-button ui-icon-document", 
      :title => t("pages.new")) %></p>");
    $("#new_locale").removeAttr("disabled");
  });
<% else -%>
  $("#flash_notice").html("<%= escape_javascript(flash[:notice])%>");
  $("#flash_notice").show(300);
  <% flash[:notice] = nil %>
  $("#new_page").html("<p><%= escape_javascript(
    link_to "", new_page_path, :remote => true, 
    :class => "ui-button ui-icon-document", 
    :title => t("pages.new")) %></p>");
  setTimeout(flash_hide,3000);
  $("#page_list").html("<%= escape_javascript(render(:partial => "list")) %>");
  $("#new_locale").removeAttr("disabled");
  zebra();
  lightbox();
<% end -%>
