<% if @page_content.errors.any? -%>
  flash_hide();
  $("#new_page").html("<%= escape_javascript(render(:partial => "form")) %>");
  $('#new_page a').click(function() {
    $("#new_page").html("<p><%= escape_javascript(
      link_to "", new_page_path, :remote => true, 
      :class => "ui-button ui-icon-document", 
      :title => t("pages.new")) %></p>");
    $("#new_locale").removeAttr("disabled");
  });
<% else -%>
  <% flash.each do |key, value| %>
    $('<div />')
    .addClass("flash <%= escape_javascript(key.to_s)%>")
    .html("<%= escape_javascript(value)%>")
    .hide()
    .appendTo('.flashes')
    .show(300);
  <% end %>
  $("#new_page").html("<p><%= escape_javascript(
    link_to "", new_page_path, :remote => true, 
    :class => "ui-button ui-icon-document", 
    :title => t("pages.new")) %></p>");
  setTimeout(flash_hide,3000);
  $("#page_list").html("<%= escape_javascript(render(:partial => "list")) %>");
  $("#new_locale").removeAttr("disabled");
  zebra();
  lightbox();
<% end -%>
