<% if @page_content.errors.any? -%>
  flash_hide();
  $("#new_page").html("<%= escape_javascript(render(:partial => "form")) %>");
  $('#new_page a').click(function() {
	$("#new_page").html("<p><%= escape_javascript(
	      link_to t("pages.new"), new_page_path, :remote => true, 
	      :class => "ui_button", 
	      :title => t("pages.new")) %></p>");
	$(".ui_button" ).button();
    $("#new_locale").removeAttr("disabled");
  });
<% else -%>
  <% flash.each do |key, value| %>
    $('<div />')
    .addClass("flash <%= escape_javascript(key.to_s)%>")
    .html("<%= escape_javascript(value)%>")
    .hide()
    .appendTo('.flashes')
    .show(300);
  <% end %>
  $("#new_page").html("<p><%= escape_javascript(
	      link_to t("pages.new"), new_page_path, :remote => true, 
	      :class => "ui_button", 
	      :title => t("pages.new")) %></p>");
  $(".ui_button" ).button();
  setTimeout(flash_hide,3000);
  $("#page_list").html("<%= escape_javascript(render(:partial => "list")) %>");
  $("#menu").html("<%= escape_javascript(render(:partial => "shared/menu")) %>");
  $("#new_locale").removeAttr("disabled");
  lightbox();
<% end -%>
