<h1><%= t('patients.listing') %></h1>

<table>
  <tr>
    <th><%= Patient.human_attribute_name("first_name") %></th>
    <th><%= Patient.human_attribute_name("last_name") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.first_name %></td>
    <td><%= patient.last_name %></td>
    <td><%= link_to t('patients.show'), patient %></td>
    <td><%= link_to t('patients.edit'), edit_patient_path(patient) %></td>
    <td><%= link_to t('patients.destroy'), patient, :confirm => t('patients.confirmation'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('patients.new'), new_patient_path %>
