<p>
  <b><%= Doctor.human_attribute_name("first_name") %>:</b>
  <%= @doctor.first_name %>
</p>

<p>
  <b><%= Doctor.human_attribute_name("last_name") %>:</b>
  <%= @doctor.last_name %>
</p>


<%= link_to t('doctors.edit'), edit_doctor_path(@doctor) %> |
<%= link_to t('doctors.back'), doctors_path %>
