<table class="day">
  <thead>
    <tr>
      <th colspan="<%= @maxcols + 1 %>"><%= l(@date, :format => :long) %></th>
    <tr>
  </thead>
  <tbody>
    <% for i in 0..(((@stop-@start)*4)-1) %>
    <tr>
      <% if ((i % 4) == 0) %>
        <% hour = i/4 + @start %>
        <% hour = (hour.to_s.length < 2) ? "0" + hour.to_s : hour %> 
        <td rowspan="4" class="hour"><span class="big"><%= hour %></span><span class="superscript">00</span></td>
      <% end %>

      <% if @dayarray[i][0] == -1 %>
        <td colspan="<%= @maxcols %>"></td>
      <% elsif @dayarray[i][0] != -2 %>
        <% colspan = (@maxcols/@dayarray[i][0]) %>
        <% for j in 1..(@dayarray[i].length - 1) %>
          <% app = @appointments.find_by_id(@dayarray[i][j]) %>
          <td rowspan="<%= app.rowspan %>" colspan="<%= colspan %>">
            <div class="bar">
              <div class="bar2" style="margin-top:<%= app.top %>px;height:<%= app.dur %>px;">
              </div>
            </div>
            <%= l(app.begin, :format => :time) %>-<%= l(app.end, :format => :time) %> 
            <%= link_to app.patient.name, appointment_path(app), :title => app.patient.name, 
        :remote => true %> <%= link_to "", edit_appointment_path(app), :remote => true, 
        :class => "button ui-icon-wrench", :title => t("appointments.edit") %><%= link_to "", 
        app, :remote => true, :confirm => t("appointments.confirmation"), :method => :delete, 
        :class => "button ui-icon-trash", :title => t("appointments.delete") %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
