<%= form_for(@appointment, :remote => true) do |f| %>
  <% if @appointment.errors.any? || @patient.errors.any? %>
  <div id="error_explanation">
    <h3><%= t("activerecord.errors.template.header", 
              :model => Appointment.model_name.human.downcase,
              :count => @appointment.errors.count + @patient.errors.count) %></h3>
    <p><%= t("activerecord.errors.template.body") %></p>
    <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div id="mode">
    <%= radio_button "view", "mode", "registered" , :checked => (true if @mode == "registered") %><%= label_tag 'view_mode_registered', t("appointments.registered") %>
    <%= radio_button "view", "mode", "unregistered", :checked => (true if @mode == "unregistered") %><%= label_tag 'view_mode_unregistered', t("appointments.unregistered") %>
    <%= radio_button "view", "mode", "unbooked", :checked => (true if @mode == "unbooked") %><%= label_tag 'view_mode_unbooked', t("appointments.unbooked") %>
  </div>
  <div id="patient">
  <% if @mode == "unregistered" %>
    <%= render "user_form" %>
  <% elsif @mode == "registered" %>
    <%= render "users_list" %>
  <% else %>
    <%= render "unbooked_form" %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date, :size => 34, :class => "ui-widget-content ui-corner-all" %>
  </div>
  <div class="field" style="float:left">
    <%= f.label :begin_time %> <%= f.text_field :begin_time, :size => 10, :class => "ui-widget-content ui-corner-all" %> &nbsp;
  </div>
  <div class="field">  
    <%= f.label :end_time %> <%= f.text_field :end_time, :size => 10, :class => "ui-widget-content ui-corner-all"  %>
  </div>
  <div class="slider-field">
    <div id="hour-slider"></div>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :cols => 45, :rows => 5, :class => "ui-widget-content ui-corner-all" %>
  </div>
<% end %>

