<%= form_for(@appointment, :remote => true) do |f| %>
  <% if @appointment.errors.any? || @patient.errors.any? %>
  <div id="error_explanation">
    <h3><%= t("activerecord.errors.template.header", 
              :model => Appointment.model_name.human.downcase,
              :count => @appointment.errors.count + @patient.errors.count) %></h3>
    <p><%= t("activerecord.errors.template.body") %></p>
    <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div id="registered">
    <%= radio_button "view", "registered", "reg" , :checked => (true if !@patient.errors.any?) %><%= label_tag 'view_registered_reg', t("appointments.registered") %>
    <%= radio_button "view", "registered", "unreg", :checked => (true if @patient.errors.any?) %><%= label_tag 'view_registered_unreg', t("appointments.unregistered") %>
  </div>
  <div id="patient">
  <% if @patient.errors.any? %>
    <%= render "user_form" %>
  <% else %>
    <%= render "users_list" %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field" style="float:left">
    <%= f.label :begin_time %> <%= f.text_field :begin_time, :size => 10 %> &nbsp;
  </div>
  <div class="field">  
    <%= f.label :end_time %> <%= f.text_field :end_time, :size => 10 %>
  </div>
  <div class="field">
    <div id="hour-slider"></div>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :cols => 30, :rows => 5 %>
  </div>
<% end %>

