<p>
  <b><%= Appointment.human_attribute_name("doctor_id") %>:</b>
  <%= link_to @appointment.doctor.name, user_path(@appointment.doctor) %>
</p>

<p>
  <b><%= Appointment.human_attribute_name("patient_id") %>:</b>
  <%= link_to @appointment.patient.name, user_path(@appointment.patient) unless @appointment.patient.nil?  %>
</p>

<p>
  <b><%= Appointment.human_attribute_name("begin") %>:</b>
  <%= l(@appointment.begin, :format => :long) %>
</p>

<p>
  <b><%= Appointment.human_attribute_name("end") %>:</b>
  <%= l(@appointment.end, :format => :long) %>
</p>

<p>
  <b><%= Appointment.human_attribute_name("comment") %>:</b><br />
  <%= @appointment.comment %>
</p>

<%= link_to "", edit_appointment_path(@appointment), :remote => true, 
    :class => "hidden edit" %>
<%= link_to "", @appointment, :remote => true, :method => :delete, 
     :class => "hidden delete" %>
