<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.all" %>
<% end %>
<% content_for :scripts do %>
<%= javascript_include_tag "jquery-ui/jquery.ui.core.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.datepicker.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.datepicker-nl.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.datepicker-en.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.mouse.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.slider.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.button.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.bgiframe-2.1.1.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.draggable.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.position.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.resizable.min.js" %>
<%= javascript_include_tag "jquery-ui/jquery.ui.dialog.min.js" %>
<script type="text/javascript">
$(document).ready(function() {
  $("#datepicker").datepicker($.datepicker.regional[ "<%= I18n.locale %>" ]);
  $("#datepicker").datepicker( "option", "altField", "#view_date" );
  $("#datepicker").datepicker( "option", "dateFormat", 'dd/mm/yy' );
  $("#datepicker").datepicker( "setDate" , "<%= l(@date, :format => :datepicker) %>");
  $("#datepicker").datepicker( "option", "altFormat", "yy mm dd" ).change(function() {
      $("#viewoption form").submit();
  });
  $("#slider-range").slider({
      range: true, min: 0, max: 24, values: [<%= @start %>, <%= @stop %>],
      slide: function(event, ui) {
        $("#hourrange").html("<p>" + ui.values[0] + 'h - ' + ui.values[1] + 'h</p>');
        $("#view_start").val(ui.values[0]);
        $("#view_stop").val(ui.values[1]);
        $("#viewoption form").submit();
     }
  });
  $("#hourrange").html("<p>" + $("#slider-range").slider("values", 0) + 'h - ' + $("#slider-range").slider("values", 1) + 'h</p>');
  $("#view_start").val($("#slider-range").slider("values", 0));
  $("#view_stop").val($("#slider-range").slider("values", 1));
  $("#dayweek").buttonset().css("float","right");
  $("#view_weekend").button();
  $("#viewoption input").change(function() {
      $("#viewoption form").submit();
  });
  $("a.newapp").button();
  $("#previous").button({
    icons: {
      primary: "ui-icon-circle-triangle-w"
    },
    text: false
  }).click(function() {
    var currDate = $("#view_date").val().split(" ");
    var presDate = new Date(currDate[0],currDate[1]-1,currDate[2]);
    var prevDate = presDate.getTime() - (60 * 60 * 24 * 1000);
    if($("#view_dayweek_week").attr("checked")){
      var prevDate = presDate.getTime() - (60 * 60 * 24 * 7 * 1000);
    } else {
      var prevDate = presDate.getTime() - (60 * 60 * 24 * 1000);
    }
    $("#datepicker").datepicker( "setDate" , new Date(prevDate));
    $("#viewoption form").submit();
  });
  $("#next").button({
    icons: {
      primary: "ui-icon-circle-triangle-e"
    },
    text: false
  }).css("float","right").click(function() {
    var currDate = $("#view_date").val().split(" ");
    var presDate = new Date(currDate[0],currDate[1]-1,currDate[2]);
    if($("#view_dayweek_week").attr("checked")){
      var nextDate = presDate.getTime() + (60 * 60 * 24 * 7 * 1000);
    } else {
      var nextDate = presDate.getTime() + (60 * 60 * 24 * 1000);
    }
    $("#datepicker").datepicker( "setDate" , new Date(nextDate));
    $("#viewoption form").submit();
  });
  positionbars();
});
function positionbars(){
  $("div.bar").css('height',function(){
    var height = $(this).parent().height();
    return height + "px";
  });

  $("div.bar2").css('margin-top',function(){
    var top = $(this).css('margin-top').substring(0,$(this).css('margin-top').length-2);
    var height = $(this).parent().height();
    var total = $(this).parent().parent().attr("rowspan")*15; 
    return Math.round((top/total)*height) + "px";
  });
  
  $("div.bar2").css('height',function(){
    var dur = $(this).css('height').substring(0,$(this).css('height').length-2);
    var height = $(this).parent().height();
    var total = $(this).parent().parent().attr("rowspan")*15;
    return Math.round((dur/total)*height) + "px";
  });

}
</script>
<% end %>
<div id='dialog'></div>
<div id="viewoption">
<%= form_tag(refresh_appointments_path, :method => :put, :remote => true) do %>
  <div class="pagecontent">
    <div id="datepicker"></div>
  
    <%= hidden_field 'view','date' %>
    <div id="doctor_info">
      <%= render "doctor_info" %>
    </div>

    <div class="x"></div>
    <div id="hourrange"></div>
    <%= hidden_field 'view','start' %>
    <%= hidden_field 'view','stop' %>
    <div id="slider-range"></div><br />
  </div>

  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <button id="next"><%= t("appointments.next") %></button>
    <span id="weekendcheck"><%= check_box_tag 'view[weekend]', "1", (true if (@weekend == "1")) %><%= label_tag "view[weekend]", t("appointments.weekend") %></span>
    <span id="dayweek">
      <%= radio_button "view", "dayweek", "day" , :checked => (true if (@dayweek == "day")) %><%= label_tag 'view_dayweek_day', t("appointments.day") %>
      <%= radio_button "view", "dayweek", "week" , :checked => (true if (@dayweek == "week")) %><%= label_tag 'view_dayweek_week', t("appointments.week") %>
    </span>
    <button id="previous"><%= t("appointments.previous") %></button>
    <%= link_to t("appointments.newapp"), new_appointment_path, :remote => true, 
        :class => "newapp", :title => t("appointments.newapp")%>
  </div>
<% end %>
</div>
<div id="calendar">
<% if @dayweek == "day" %>
  <%= render "day" %>
<% else %>
  <%= render "week" %>
<% end %>
</div>

