<%= form_for @image, :html => {:multipart => true} do |f|%>
  <%= render 'shared/error_messages', :object => f.object, :modelname =>  Image.model_name.human.downcase %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "ui-widget-content ui-corner-all" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :class => "ui-widget-content ui-corner-all" %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= file_field :file, :picture, :class => "ui-widget-content ui-corner-all" %>
  </div>
  <%= f.hidden_field :filetype %>
  <div class="actions">
    <%= f.submit t("images.submit.new"), :class => "ui-widget-content ui-corner-all" %>
  </div>
<% end %>
