<% content_for :styles do %>
<%= stylesheet_link_tag "jquery/jquery.ui.theme" %>
<% end %>
<% content_for :scripts do %>
<script type="text/javascript">
$(document).ready(function() {
  $('#file_picture').change(function() {
    var name = $("#file_picture").val().split(".");
    var ext = name[name.length-1];
    $("#image_filetype").val(ext);
  });
  lightbox();
  linkbox();
});
</script>
<% end %>
<div id="subcontent" class="span-19 colborder">
  <h2><%= t("images.title") %></h2>
  <div id="image_form"><%= render :partial => "form" %></div>
  <div id="image_list" class="list"><%= render :partial => "list" %></div>
</div>
<div id="submenu" class="span-4 last">
  <ul>
    <li><%= link_to t("pages.title"), pages_path %></li>
    <li class="active"><%= link_to t("images.title"), images_path %></li>
  <ul>
</div>