<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title><%= t("txt.private") %><%= t("txt.practice") %> <% if @page %>
  - <%= @page.title %>
  <% end %></title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body>
<div id="container">
 <%= render :partial => "shared/loginform" %>
 <%= render :partial => "shared/header" %>
 <%= render :partial => "shared/menu" %>
  <div class="x"></div>
  <div id="content">
    <% if flash[:notice] %>
      <div id="flash_notice"><%= flash[:notice] %></div>
    <% else %>
      <div id="flash_notice" style="display:none"></div>
    <% end %>
    <%= yield %>
  </div>
  <div class="x"></div>
  <%= render :partial => "shared/footer" %>
</div>
</body>
</html>
